header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: clamp(15px, 1.818vw, 30px);

    @include tablet{
      padding-top: clamp(15px, 10vw, 90px);
    }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

@include tablet {
    max-width: 87px;
  }
}
