.index-first {
  padding-top: calc(var(--header-height) +  clamp(55px, 12.364vw, 204px));
  padding-bottom: clamp(30px, 5.215vw, 85px);

  background-position: top left;
  background-size: cover;
  border-bottom: solid 1px var(--color-c);

  &__box {
    display: grid;

    grid-template-columns: auto 1fr;

    @include tablet {
      grid-gap: clamp(40px, 12.667vw, 114px);
      grid-template-columns: 100%;
      .main-box--first {
        order: 2;
      }
    }

    @include mobile{
      grid-gap: clamp(15px, 4.444vw, 40px);
    }
  }
}



