
.index-first {
  padding-top: calc(var(--header-height) +  clamp(80px, 12.364vw, 204px));
  padding-bottom: 251px;

  background-position: top left;
  background-size: cover;
  border-bottom: solid 1px var(--color-c);





  &__box {
    display: grid;

    grid-template-columns: 500px 1fr;
  }
}



