.index-clients {
  position: relative;

  padding: clamp(110px, 22.545vw, 372px) 0 clamp(30px, 9.515vw, 157px);

  border-bottom: solid 1px var(--color-c);

  &::before {
    content: "";
    position: absolute;
    top: -1%;
    left: -2%;

    width: 500px;
    height: 272px;

    background-image: url(/img/index/logo4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(2%, 0.5%);

@include laptop {
      width: 400px;
      height: 210px;
    }

@include tablet {
      display: none;
    }
  }


  &__box {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

@include tablet {
      grid-template-columns: 100%;
      .main-box {
        order: 2;
      }
    }
  }
}
