.index-clients {
  position: relative;

  padding: clamp(150px, 22.545vw, 372px) 0 clamp(80px, 9.515vw, 157px);

  border-bottom: solid 1px var(--color-c);

  &::before {
    content: "";
    position: absolute;
    top: -1%;
    left: -2%;

    width: 500px;
    height: 272px;

    background-image: url(/img/index/logo4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(2%, 0.5%);
  }


  &__box {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}
