.index-team {
  position: relative;

  padding: clamp(100px, 20.613vw, 336px) 0 clamp(30px, 9.515vw, 157px);
  overflow-y: hidden;

  border-bottom: solid 1px var(--color-c);

  @include tablet {
    padding: clamp(190px, 43.667vw, 393px) 0 clamp(35px, 10vw, 90px);
  }
  &::before {
    content: "";
    position: absolute;
    top: -1.5%;
    left: 33%;

    width: 500px;
    height: 272px;

    background-image: url(/img/index/logo2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    transform: translate(-1%, 3.5%);


    @include tablet {
      left: 6%;
        }


        @include small-tablet {
          width: 350px;
        }

    @include mobile{
      width: 300px;
    }
  }
  &__box {
    display: grid;

    grid-template-columns: 53% 1fr;

    @include tablet {
      grid-gap: clamp(50px, 13.889vw, 125px);
      grid-template-columns: 100%;
    }

    @include mobile{
      grid-gap: clamp(30px, 5.556vw, 50px);
    }
  }
}
