.index-more {
  padding: clamp(40px, 11.166vw, 182px) 0;

  border-bottom: solid 1px var(--color-c);

  @include mobile{
    padding: 40px 0;
  }
  &__box {
    display: grid;

    grid-gap: clamp(30px, 2.454vw, 40px);
    grid-template-columns: repeat(2, 50%);

@include laptop {
      grid-template-columns: 100%;
      grid-gap: clamp(30px, 3.681vw, 60px);
      .more-box{
        order:2;
      }
    }
  }
}
