.index-services {
  position: relative ;



  @media (min-width: (1750px)) {
    &::before {
      content: "";
      position: absolute;
      top: 16%;
      left: 0;

      width: clamp(100px, 13.672vw, 350px);
      height: clamp(100px, 22.813vw, 584px);

      background-image: url(/img/index/img3.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
  }
}
