<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-top">
        <a href="#" class="logo">
            <img width='86' height='87' src='img/sprite/logo.svg' alt='image'>
        </a>

        <nav class="header-nav">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#main" class="nav-list__link">Main page</a>
            </li>
            <li class="nav-list__item">
              <a href="#services" class="nav-list__link">Our services</a>
            </li>
            <li class="nav-list__item">
              <a href="#more" class="nav-list__link">About us</a>
            </li>
            <li class="nav-list__item">
              <a href="#team" class="nav-list__link">Our team</a>
            </li>
            <li class="nav-list__item">
              <a href="#info" class="nav-list__link">Contact us</a>
            </li>
          </ul>
        </nav>

        <div class='mobile-header__choice header-choice select'>
          <input type='hidden' class='select__input' name='lang'>
          <div class='select__header'>
            <span class='header-choice__current select__current' data-id="2">En</span>
            <div class='mobile-header__icon select__icon'>
              <svg width='20' height='12'>
                <use href='img/sprite/sprite.svg#arrow-b'></use>
              </svg>
            </div>
          </div>
          <div class='header-choice__body select__body'>
            <ul class='header-choice__wrapp select__wrapp'>
              <li class='header-choice__item select__item' data-id="1" data-choice='choosen'>
                <a class="header-choice__link" href="index.html">Ru</a></li>
              <li class='header-choice__item select__item' data-id="2" data-choice='choosen'>
                <a class="header-choice__link" href="indexEng.html">En</a></li>
            </ul>
          </div>
        </div>

        <button class="footer-top__burger burger" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>

      <div class="footer-bottom">
        <div class="footer-bottom__box--mode footer-bottom__box">
          <a class="footer-bottom__item" href="#">Your dreams will come true</a>

          <a href="#" class="footer-bottom__item">Portugal, Porto, st. Portuguese, 20B</a>
          <a class="footer-bottom__item--mode footer-bottom__item" href="mailto:Deusexmachina@gmail.com">Deusexmachina@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>