<header>
  <div class="container">
    <div class="mobile-header" mobile-header>
      <a href="#" class="logo">
        <picture>
          <source type='image/webp' srcset='img/index/logo-small.webp'>
          <img width='86' height='87' src='img/index/logo-small.png' alt='image'>
        </picture>
      </a>

      <nav class="mobile-header__nav header-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Главная</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Услуги</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">О нас</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Команда</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Связаться с нами</a>
          </li>
        </ul>
      </nav>

      <div class='mobile-header__choice header-choice select'>
        <div class='select__header'>
          <span class='header-choice__current select__current'>Ru</span>
          <div class='mobile-header__icon select__icon'>
            <svg width='20' height='12'>
              <use href='img/sprite/sprite.svg#arrow-b'></use>
            </svg>
          </div>
        </div>
        <div class='header-choice__body select__body'>
          <ul class='header-choice__wrapp select__wrapp'>
            <li class='header-choice__item select__item' data-choice='choosen'>Ua</li>
            <li class='header-choice__item select__item' data-choice='choosen'>Ru</li>
            <li class='header-choice__item select__item' data-choice='choosen'>En</li>
          </ul>
        </div>
      </div>
    
    </div>


    <div class="header">
      <a href="#" class="logo">
<picture>
  <source type='image/webp' media='(max-width: 1024px)' srcset='img/index/logo-small.webp'>
  <source media='(max-width: 1024px)' srcset='img/index/logo-small.png'>
  <source type='image/webp' srcset='img/index/logo.webp'>
  <img width='161' height='163' src='img/index/logo.png' alt='logo'>
</picture>


      </a>

      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Главная</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Услуги</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">О нас</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Команда</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Связаться с нами</a>
          </li>
        </ul>
      </nav>

      <div class='header-choice select'>
        <div class='select__header'>
          <span class='header-choice__current select__current'>Ru</span>
          <div class='header-choice__icon select__icon'>
            <svg width='20' height='12'>
              <use href='img/sprite/sprite.svg#arrow-b'></use>
            </svg>
          </div>
        </div>
        <div class='header-choice__body select__body'>
          <ul class='header-choice__wrapp select__wrapp'>
            <li class='header-choice__item select__item' data-choice='choosen'>Ua</li>
            <li class='header-choice__item select__item' data-choice='choosen'>Ru</li>
            <li class='header-choice__item select__item' data-choice='choosen'>En</li>
          </ul>
        </div>
      </div>

      <button class="header-burger burger" burger>
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </div>
</header>