.comand-list {
  display: flex;
  flex-direction: column;

  grid-gap: clamp(20px, 2.303vw, 38px);

  &__item {
    display: grid;

    grid-gap: clamp(15px, 1.879vw, 31px);
    grid-template-columns: repeat(2, 1fr);

@include mobile {
      grid-template-columns: 100%;
    }

    &--three-row {
      grid-template-columns: repeat(3, 1fr);

@include small-tablet {
        grid-template-columns: repeat(2, 1fr) !important;
        .comand-list__tab {
          &:last-child {
            grid-column: span 2;
          }
        }
      }
    }

    &--one-row {
      grid-template-columns: 100%;
    }

    &--two-row {
      grid-template-columns: 1.5fr 1fr;

@include small-tablet {
        grid-template-columns: 100%;
      }
    }

    &--second-row {
      grid-template-columns: 1.2fr 1fr;

@include small-tablet {
        grid-template-columns: 100%;
      }
    }
    &--expand-row {
      grid-template-columns: 1fr 1.4fr;

@include small-tablet {
        grid-template-columns: 100%;
      }
    }
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(18px, 1.697vw, 28px) 5px;

    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.515vw, 25px);
    line-height: 140%;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-s);
    letter-spacing: normal;

    background-color: var(--color-o);
    border: 1px solid var(--color-b);

    transition: all 0.4s;
    &:hover {
      transform: scale(1.02);
    }


    &--green {
      background-color: var(--color-q);
    }

    &--aqua {
      background-color: var(--color-w);
    }
    &--orange {
      background-color: var(--color-r);
    }
    &--pink {
      background-color: var(--color-t);
    }
    &--violet {
      background-color: var(--color-y);
    }
    &--blue {
      background-color: var(--color-u);
    }
  }
}
