.image-box {
  position: relative;

  width: 100%;
  max-width: Min(68.485vw, 1130px);



  @keyframes increase {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.05);
    }
  }
  &__item {
    position: absolute;


    &--mark {
      bottom: -19%;
      left: 54%;
      z-index: 6;

      width: Min(7.758vw, 128px);
      height: auto;

      animation: increase 3s infinite alternate;
    }

    &--air {
      top: 47%;
      left: 66%;
      z-index: 6;

      width: Min(4.061vw, 67px);
      height: auto;
    }

    &--ex {
      top: 14%;
      left: 22%;
      z-index: 4;

      width: Min(51.515vw, 850px);
      height: auto;
    }

    &--logo {
      top: -20%;
      left: 22%;
      z-index: 5;

      width: Min(22.121vw, 365px);
      height: auto;

      animation: increase 3s infinite alternate;
    }

    &--flex {
      top: 47%;
      left: 22%;
      z-index: 5;

      width: Min(10.061vw, 166px);
      height: auto;

      animation: increase 3s infinite alternate;
    }

    &--mess {
      top: 3%;
      left: 77%;
      z-index: 5;

      width: Min(20vw, 330px);
      height: auto;

      animation: increase 3s infinite alternate;
    }

    &--boy {
      top: -42%;
      left: 65%;

      width: Min(22.485vw, 371px);
      height: auto;

      animation: increase 3s infinite alternate;
    }

    &--rs {
      top: 57%;
      left: 79%;
      z-index: 5;

      width: Min(7.455vw, 123px);
      height: auto;
    }

    &--kiss {
      top: -5%;
      left: 53%;
      z-index: 5;

      width: Min(10vw, 165px);
      height: auto;
    }

    &--boobs {
      top: 49%;
      left: 49%;
      z-index: 3;

      width: Min(19.636vw, 324px);
      height: auto;

      animation: increase 2s infinite alternate;
    }
  }
}
