.index-top {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;

  grid-gap: clamp(20px, 2.909vw, 48px);

  @include mobile{
    padding: 15px;
  }

  p {
    max-width: 940px;

    font-style: normal;
    font-weight: 300;
    font-size: clamp(18px, 1.333vw, 22px);
    line-height: normal;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-b);

    @include big-desktop {
          max-width: 625px;
        }  
  }
  &::before {
    content: "";
    position: absolute;
    right: -100vw;
    bottom: 0;
    left: -100vw;

    height: 1px;

    background-color: var(--color-c);
  }
  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(30px, 3.03vw, 50px);
    line-height: 120%;
    font-family: var(--font-family);
    color: var(--color-b);

    @include tablet{
      font-size: clamp(30px, 5.778vw, 52px);
    }

    @include mobile{
      font-size: 20px;
    }
  }
}

.info-top {
  padding: 0;

  &::before {
    display: none;
  }

  .index-top__name{
    @include tablet{
      font-size: clamp(28px, 8.111vw, 73px);
    }

    @include mobile{
      font-size: 28px;
    }
  }
}


.comand-top {
  position: relative;

  padding: 0;

  @include tablet {
    align-items: flex-start;

    .index-top__name{
      max-width: 270px;
    }
    p {
      text-align: start;
      max-width: 100%;
      font-size: clamp(18px, 3.889vw, 35px);

      @include mobile{
        font-size: 14px;
      }  
    }
  }

  @include mobile{
    .index-top__name{
      max-width: 200px;
      font-size: 28px;
    }
  }
  &::before {
    display: none;
  }
}
