.info-box {
  position: relative;

  margin-top: -80px;
  padding-right: clamp(10px, 1.718vw, 28px);

@include big-desktop {
    margin-top: 0 ;
  }

  &--right {
    margin-top: -27px;
    padding-right: initial;
    padding-left: clamp(10px, 4.601vw, 75px);

@include big-desktop {
      margin-top: 0 ;
    }

@include mobile {
      display: none;
    }
  }



  &__img {
    display: flex;
    justify-content: center;
    height: auto;
    //     position: absolute;



    //     &--text {
    //       top: -2%;
    //       left: -5%;

    //       width: clamp(123px, 25.337vw, 413px);
    //       height: auto;

    //       animation: increase 3.5s infinite alternate;

    // @include big-desktop {
    //         left: 5%;
    //       }

    // @include small-tablet {
    //         top: -8%;
    //         left: 34%;
    //       }
    //     }
    //     &--lips {
    //       top: 55%;
    //       left: -12%;

    //       width: clamp(55px, 10.245vw, 167px);
    //       height: auto;

    //       animation: increase 2s infinite alternate;

    // @include tablet {
    //         top: 39%;
    //         left: 1%;
    //       }

    // @include small-tablet {
    //         top: 40%;
    //         left: 17%;
    //       }
    //     }
    //     &--collar {
    //       top: 41%;
    //       left: 31%;

    //       width: clamp(102px, 20.184vw, 329px);
    //       height: auto;

    //       animation: increase 3s infinite alternate;

    // @include small-tablet {
    //         top: 5%;
    //         left: 62%;
    //       }
    //     }

    //     &--boy {
    //       top: -4%;
    //       left: 26%;

    //       width: Min(22.485vw, 371px);
    //       height: auto;

    //       animation: increase 2.5s infinite alternate;

    // @include tablet {
    //         top: 0;
    //         left: 14%;
    //       }

    // @include small-tablet {
    //         top: 0;
    //         left: 7%;
    //       }
    //     }

    //     &--mess {
    //       top: 38%;
    //       left: 51%;

    //       width: Min(19.091vw, 315px);
    //       height: auto;

    //       animation: increase 3s infinite alternate;

    // @include small-tablet {
    //         top: 46%;
    //         left: 22%;
    //       }
    //     }
  }
}
