.info-box {
  position: relative;

  margin-top: -80px;
  padding-right: clamp(10px, 1.718vw, 28px);

@include big-desktop {
    margin-top: 0 ;
  }

  @include tablet{
    padding: 0;
    order: 2;
    width: 100%;
  }

  &--right {
    margin-top: -27px;
    padding-right: initial;
    padding-left: clamp(10px, 4.601vw, 75px);

@include big-desktop {
      margin-top: 0 ;
    }

    @include tablet{
      display: none;
    }


  }



  &__img {
    display: flex;
    justify-content: center;
    height: auto;
        picture, img{
        @include tablet{
            width: 100%;
        }
      }
  }
}
