.main-list {
  display: flex;
  flex-direction: column;
  width: fit-content;

  counter-reset: li;

  grid-gap: clamp(10px, 1.576vw, 26px);

@include mobile {
    padding: 0 !important;
  }

  &--text {
    justify-content: center;
  }

  &__item {
    position: relative;

    display: flex;
    width: fit-content;
    padding-left: 56px;

    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 1.333vw, 22px);
    line-height: 125%;
    font-family: var(--font-family);
    text-align: left;
    color: var(--color-c);
    letter-spacing: normal;
    &--text {
      padding: 0;
      &::before {
        display: none;
      }
    }

    &-bold {
      font-weight: 700;
    }


    &:before {
      content: counter(li, decimal-leading-zero) " ";
      position: absolute;
      left: 0;

      font-style: normal;
      font-weight: 800;
      font-size: inherit;
      font-family: var(--font-family);
      text-align: center;
      color: var(--color-g);

      transform: translateY(5%);

      counter-increment: li;
    }

    &--orange {
      &::before {
        color: var(--color-i);
      }
    }
    &--blue {
      &::before {
        color: var(--color-j);
      }
    }
    &--blue {
      &::before {
        color: var(--color-j);
      }
    }
    &--azure {
      &::before {
        color: var(--color-l);
      }
    }
    &--green {
      &::before {
        color: var(--color-m);
      }
    }
  }
}
