  .main-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    grid-gap: clamp(20px, 4.242vw, 70px);


    &--clients {
      grid-gap: clamp(20px, 4.29vw, 55px);
    }

    &--first {
      max-width: 100%;
      grid-gap: clamp(20px, 2.667vw, 44px);
    }

    @include tablet {
      max-width: 100%;
      grid-gap: clamp(40px, 10vw, 90px);
    }

    @include mobile{
      grid-gap: clamp(20px, 3.333vw, 30px);
    }

    &__about {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: normal;
      font-family: var(--font-family);
      color: var(--color-c);
      
      @include tablet {
        font-size: clamp(14px, 3.889vw, 35px);
      }

      @include mobile{
        br{
          display: none;
        }
      }

      &--team {
        font-size: clamp(18px, 1.212vw, 20px);
        @include tablet{
          display: none;
        }
      }

      &--first {
        font-family: var(--font-family1);
        @include tablet{
          display: flex;
          align-self: flex-end;
          text-align: start;
        }
        @include mobile{
          br{
            display: initial;
          }
        }
      }
    }

    &__social {
      font-style: normal;
      font-weight: 700;
      font-size: clamp(18px, 1.333vw, 22px);
      line-height: normal;
      font-family: var(--font-family);
      color: var(--color-b);

      @include tablet {
        max-width: 810px;
        font-weight: 400;
        font-size: clamp(16px, 3.889vw, 35px);
        br{
          display: none;
        }
      }

    }

    &__seo {
      color: var(--color-e);

      &--black {
        font-weight: 700;
        color: var(--color-c);
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      max-width: 545px;
      padding-bottom: 3px;

      font-style: normal;
      font-weight: 700;
      font-size: clamp(40px, 4.788vw, 79px);
      line-height: 120%;
      font-family: var(--font-family);
      color: var(--color-c);
      text-transform: uppercase;

      @include tablet {
        max-width: initial;

        font-size: clamp(35px, 11.333vw, 102px);
      }

      &--team {
        font-size: clamp(35px, 2.727vw, 45px);

        @include tablet{
          font-size: clamp(30px, 8.111vw, 73px);
        }
      }

      &--more {
        max-width:700px;

        font-weight: 900;
        font-size: clamp(28px, 2.727vw, 45px);

        @include laptop{
          max-width: 520px;
        }

        @include tablet {
          max-width: 768px;
          font-size: clamp(20px, 5.778vw, 52px);
        }
      }

      &--clients{
        max-width:100%;

        font-weight: 900;
        font-size: clamp(28px, 2.727vw, 45px);

        @include tablet {
          max-width: 768px;
          font-size: clamp(20px, 5.778vw, 52px);
        }
      }


      &-small {
        font-weight: 400;
        font-size: clamp(40px, 4.364vw, 72px);
        line-height: 120%;

        @include tablet {
          font-size: clamp(35px, 11.333vw, 102px);
        }

        &--more {
          font-size: clamp(25px, 2.727vw, 45px);
          @include tablet{
            font-size: clamp(20px, 5.778vw, 52px);
          }
        }
      }
    }
  }