.more-box {
  width: 100%;
  padding-top: 50px;

@include tablet {
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    height: auto;
    //     &--samsung {
    //       top: -1%;
    //       left: 24%;

    //       width: clamp(160px, 31.902vw, 520px);
    //       height: auto;

    //       animation: increase 3.5s infinite alternate;

    // @include tablet {
    //         top: -15%;
    //         left: 44%;
    //       }
    //     }

    //     &--apple {
    //       top: 44%;
    //       left: 74%;
    //       z-index: 2;

    //       width: clamp(44px, 7.853vw, 128px);
    //       height: auto;

    //       animation: increase 2s infinite alternate;

    // @include tablet {
    //         top: -3%;
    //         left: 15%;
    //       }
    //     }

    //     &--push {
    //       top: 21%;
    //       left: 40%;

    //       width: clamp(140px, 29.141vw, 475px);
    //       height: auto;

    //       animation: shakeLeft 5s infinite alternate;

    // @include tablet {
    //         top: 16%;
    //         left: 28%;
    //       }
    //     }
    //     &--cube {
    //       top: 10%;
    //       left: 0;
    //       z-index: 2;

    //       width: clamp(89px, 17.055vw, 278px);
    //       height: auto;

    //       animation: increase 2s infinite alternate;

    // @include tablet {
    //         top: 19%;
    //         left: 73%;
    //       }
    //     }

    //     &--market {
    //       top: 48%;
    //       left: 0;

    //       width: clamp(162px, 33.497vw, 546px);
    //       height: auto;

    //       animation: increase 3.5s infinite alternate;

    // @include tablet {
    //         left: 12%;
    //       }
    //     }

    //     &--aso {
    //       top: 72%;
    //       left: 66%;

    //       width: clamp(85px, 15.521vw, 253px);
    //       height: auto;

    //       animation: shakeLeft 3s infinite alternate;

    // @include tablet {
    //         top: 73%;
    //         left: 13%;
    //       }
    //     }
    //     &--store {
    //       top: 73%;
    //       left: 0;

    //       width: clamp(144px, 29.693vw, 484px);
    //       height: auto;

    //       animation: increase 3s infinite alternate;

    // @include tablet {
    //         top: 62%;
    //         left: 50%;
    //       }
    //     }
  }
}
