.more-box {
  position: relative;

  width: 100%;
  min-height: Min(41.697vw, 688px);



  &__item {
    position: absolute;

    &--samsung {
      top: -1%;
      left: 14%;

      width: Min(31.515vw, 520px);
      height: auto;

      animation: increase 3.5s infinite alternate;

@include tablet {
        left: 44%;
      }
    }

    &--apple {
      top: 6%;
      left: -5%;
      z-index: 2;

      width: Min(8.303vw, 137px);
      height: auto;

      animation: increase 2s infinite alternate;

@include tablet {
        left: 15%;
      }
    }

    &--push {
      top: 21%;
      left: -2%;

      width: Min(28.788vw, 475px);
      height: auto;

      animation: shakeLeft 5s infinite alternate;

@include tablet {
        left: 25%;
      }
    }
    &--cube {
      top: 26%;
      left: 53%;
      z-index: 2;

      width: Min(16.848vw, 278px);
      height: auto;

      animation: increase 2s infinite alternate;

@include tablet {
        left: 73%;
      }
    }

    &--market {
      top: 38%;
      left: -8%;

      width: Min(34.182vw, 564px);
      height: auto;

      animation: increase 3.5s infinite alternate;

@include tablet {
        left: 12%;
      }
    }

    &--aso {
      top: 67%;
      left: -7%;

      width: Min(15.697vw, 15.697vw);
      height: auto;

      animation: shakeLeft 3s infinite alternate;

@include tablet {
        left: 13%;
      }
    }
    &--store {
      top: 66%;
      left: 30%;

      width: Min(30vw, 495px);
      height: auto;

      animation: increase 3s infinite alternate;

@include tablet {
        left: 50%;
      }
    }
  }
}
