.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 773px;

  grid-gap: clamp(10px, 3.333vw, 55px);

@include tablet {
    display: none;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 1.212vw, 20px);
    line-height: 125%;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-c);
    text-transform: uppercase;

    transition: all 0.4s;

    &:hover {
      color: var(--color-e);

      transform: scale(1.05);
    }
  }
}
