.transparent-btn {
  position: relative;

  display: flex;
  align-items: center;
  width: fit-content;
  max-height: 75px;
  padding: 28px 117px 28px 45px;

  font-style: normal;
  font-weight: 500;
  font-size: clamp(20px, 1.515vw, 25px);
  line-height: 115%;
  font-family: var(--font-family);
  color: var(--color-c);
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--color-b);

  transition: all 0.4s;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;

    width: 35px;
    height: 35px;

    background-image: url("data:image/svg+xml,%3Csvg data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 231.5 231.5'%3E%3Cpath d='M221.5 224.5V10H7.1m214.4 0L7.1 224.5' style='fill:none;stroke:%23da1409;stroke-miterlimit:10;stroke-width:20px'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateY(-50%);

    transition: all 0.4s;
  }

  &:before {
    content: "";
    position: absolute;
    right: 75px;
    bottom: 0;

    width: 1px;
    height: 100%;

    background-color: var(--color-b);
  }

  &:hover {
    transform: scale(1.05);
  }

  @include tablet{
    font-size: clamp(20px, 4.222vw, 38px);
    padding: clamp(28px, 4.778vw, 43px) 117px clamp(28px, 4.778vw, 43px) 45px;
  }

  @include mobile{
    font-size: 15px;
    padding: 13px 70px 13px 25px;

    &::after{
      width: 20px;
      height: 20px;
      right: 12px;
    }

    &::before{
      right: 43px;
    }
  }
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.swiper-btn {
  width: 50px !important;
  height: 50px !important;

  @include mobile {
    display: none;
  }

  &__next {
    order: 4;
  }

  &__prev {
    order: 3;
  }
}

.just-validate-error-label {
  position: absolute;
  bottom: 5px;
  left: 50%;

  width: 100%;

  font-size: 14px;
  text-align: center;

  transform: translateX(-50%);
}
